@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/golos-text_regular.woff2") format("woff2"), url("../fonts/golos-text_regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/golos-text_medium.woff2") format("woff2"), url("../fonts/golos-text_medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/golos-text_demibold.woff2") format("woff2"), url("../fonts/golos-text_demibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/golos-text_bold.woff2") format("woff2"), url("../fonts/golos-text_bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/merriweather-regular.woff2") format("woff2"), url("../fonts/merriweather-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/merriweather-bold.woff2") format("woff2"), url("../fonts/merriweather-bold.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
}

.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.wrapper main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  padding: 18px 20px;
  max-width: 1366px;
  margin: 0 auto;
}

.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 375px;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18;
  line-height: 1.5rem;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  color: #313131;
  letter-spacing: 0;
  scroll-behavior: smooth;
}

.page ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.page ::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.page ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.page ::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

.page ::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.page__body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page__main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page a,
.page button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page h2 {
  font-weight: 400;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

.page img {
  width: 100%;
  height: auto;
}

.page * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ticker {
  pointer-events: none;
  background-color: #f54932;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 90;
  text-transform: uppercase;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ticker--upper {
  margin-bottom: 36px;
}

.ticker__wrapper {
  white-space: nowrap;
  -webkit-animation: ticker 20s linear infinite;
  animation: ticker 20s linear infinite;
}

.ticker__text {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 13px 32px 15px;
  border-radius: 66px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 20px;
}

.slider {
  position: relative;
  margin-bottom: 15px;
}

.slider__track {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.slider__item {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  width: 100%;
}

.slider__controls {
  width: 150px;
  position: absolute;
  top: -93px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider__button {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #000000;
  background-image: url("../img/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider__button:hover {
  background-color: #fbce51;
}

.slider__button--next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider__pagination {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.intro {
  background-image: url("../img/intro_back_1x.png");
  background-position: center top;
  min-height: 700px;
}

.intro__text {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__content {
  width: 542px;
}

.intro__content p {
  padding: 0;
  margin: 0;
}

.intro__title {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 60px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  margin-bottom: 20px;
}

.intro__title span {
  line-height: 66px;
}

.intro__title span:last-child {
  text-align: center;
}

.intro__subtitle {
  text-align: center;
  font-family: "Golos", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.intro__buttons {
  margin-top: 38px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.intro__button {
  font-family: "Golos", Arial, Helvetica, sans-serif;
}

.intro__button--primary {
  background-color: #313131;
  color: #ffffff;
}

.intro__button--primary:hover {
  background-color: #fbce51;
}

.intro__button--secondary {
  background-color: #ffffff;
  color: #313131;
  border: 2px solid #313131;
}

.intro__button--secondary:hover {
  background-color: #313131;
  color: #ffffff;
}

.footer__disclaimer {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  margin: 12px 0;
  line-height: 1.3rem;
}

.footer {
  background-color: #e9ded4;
}

.event {
  margin-bottom: 72px;
}

.event__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 394px;
  grid-template-columns: auto 394px;
  grid-gap: 50px;
}

.event__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0;
  overflow: visible;
  position: relative;
}

.event__image--2 img {
  position: absolute;
  top: 18px;
  left: -28px;
}

.event__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 43% auto;
  grid-template-columns: 43% auto;
}

.event__title {
  font-size: 36px;
  line-height: 3rem;
  letter-spacing: 0.6px;
  font-weight: 400;
}

.event__title--red {
  color: #f54932;
}

.event__table {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  border-collapse: collapse;
  width: 100%;
}

.event__table-body {
  width: 100%;
}

.event__table-row {
  border-bottom: 1px solid #e0e0e0;
}

.event__table-row:last-child {
  border: none;
}

.event__table-cell {
  padding: 11px 0 14px;
  vertical-align: top;
  line-height: 1.4;
}

.event__table-cell--label {
  color: #888888;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  width: 45%;
}

.event__table-cell--value {
  color: #333333;
  text-align: left;
  font-weight: bold;
}

.crossed {
  text-decoration: line-through;
  color: #888888;
  font-weight: bold;
  padding-right: 8px;
}

.event__link {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #3057a2;
  margin-top: 34px;
}

.stages {
  position: relative;
  margin-bottom: 95px;
}

.stages::after {
  position: absolute;
  content: "";
  width: 377px;
  height: 140px;
  background-image: url("../img/plane_1x.png");
  left: 71%;
  top: 69.5%;
  overflow: visible;
  z-index: 100;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.stages__header {
  max-width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.stages__title {
  font-size: 56px;
  max-width: 800px;
  line-height: 67px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.stages__subtitle {
  padding-left: 12px;
  padding-top: 3px;
  position: absolute;
  font-family: "Golos", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #3057a2;
  line-height: 1.2;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.stages__slider {
  width: 100%;
}

.stages__slide-group {
  grid-gap: 20px;
}

.stages__slide-group .stage__card {
  width: 50%;
}

.stage__card {
  min-height: 112px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f4e8;
  background-image: url("../img/grid_back.png");
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Golos", Arial, Helvetica, sans-serif;
}

.stage__card-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 20px;
  min-width: 36px;
  width: 36px;
  height: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stage__card-text {
  margin: 0;
  font-size: 20px;
  max-width: 423px;
  padding-left: 16px;
}

.grid__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-template-areas: "one one two" "three three two" "four five five";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 20px auto 20px auto;
  grid-template-rows: auto auto auto;
}

.grid__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.grid__card--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: one;
}

.grid__card--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: two;
}

.grid__card--3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: three;
}

.grid__card--4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: four;
}

.grid__card--5 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: five;
}

.participants {
  margin-bottom: 100px;
}

.participants__title {
  font-size: 56px;
  max-width: 800px;
  line-height: 67px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-align: left;
  position: relative;
  margin-bottom: 54px;
}

.participant__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.participant__card--name {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 0;
}

.participant__card--title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.6;
  margin: 10px 0 20px;
}

.participant__card--button {
  padding: 5px;
  font-size: 16px;
  min-width: 113px;
  border-color: #3057a2;
  color: #3057a2;
}

.participant__card--button:hover {
  color: #ffffff;
  background-color: #3057a2;
}

@media (min-width: 768px) {
  .container {
    padding: 26px 72px;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 26px 72px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 26px 72px;
  }
}

@media (max-width: 1200px) {
  .stages::after {
    top: 33%;
    left: auto;
    right: 10%;
  }

  .stages__slider {
    margin-top: 150px;
  }

  .stages__title {
    font-size: 36px;
    line-height: 40px;
  }

  .stages__subtitle {
    position: relative;
    display: block;
  }

  .stages__subtitle br {
    display: none;
  }

  .stages__slide-group {
    grid-gap: 0px;
  }

  .stages__slide-group .stage__card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  .stage__card {
    padding-top: 50px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .stage__card:nth-child(2) {
    padding-top: 0;
  }

  .grid__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0;
  }

  .grid__card {
    width: 100%;
    min-height: 300px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .ticker {
    height: 38px;
  }

  .ticker__text {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
  }

  .intro {
    background-image: url("../img/intro_back_mobile_1x.png");
    background-color: #e9ded4;
    min-height: 774px;
  }

  .intro__logo svg {
    width: 213px;
    height: 32px;
  }

  .intro__text {
    padding-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .intro__content {
    width: 100%;
  }

  .intro__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-bottom: 20px;
    font-size: 36px;
  }

  .intro__title span {
    line-height: 40px;
    letter-spacing: 1.1px;
  }

  .intro__title span:last-child {
    text-align: center;
  }

  .intro__subtitle {
    text-align: left;
    line-height: 22px;
    font-family: "Golos", Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .intro__subtitle br {
    display: none;
  }

  .intro__buttons {
    margin-top: 34px;
    width: 100%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-gap: 13px;
  }

  .intro__button {
    font-family: "Golos", Arial, Helvetica, sans-serif;
  }

  .intro__button br {
    display: none;
  }

  .intro__button--primary {
    background-color: #313131;
    color: #ffffff;
  }

  .intro__button--primary:hover {
    background-color: #fbce51;
  }

  .intro__button--secondary {
    background-color: #ffffff;
    color: #313131;
    border: none;
  }

  .intro__button--secondary:hover {
    background-color: #313131;
    color: #ffffff;
  }

  .event__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .event__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .event__title {
    font-size: 28px;
    line-height: 37px;
    margin-top: 0;
  }

  .event__title br {
    display: none;
  }

  .event__title--mobile {
    margin-top: 120px;
  }

  .event__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .event__image--2 img {
    position: relative;
    top: 0;
    left: 0;
  }

  .event__table {
    font-size: 20px;
  }

  .event__table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .event__link {
    font-size: 18px;
  }

  .participants {
    display: none;
  }
}