.event {
    margin-bottom: 72px;
}

.event__description {
    display: grid;
    grid-template-columns: auto 394px;
    grid-gap: 50px;
}
.event__image {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
    overflow: visible;
    position: relative;

    &--2 {
        img {
            position: absolute;
            top: 18px;
            left: -28px;
        }
    }
}

.event__details {
    display: grid;
    grid-template-columns: 43% auto;
}

.event__title {
    font-size: 36px;
    line-height: 3rem;
    letter-spacing: 0.6px;
    font-weight: $font-weight-regular;
    &--red {
        color: $accent-color;
    }
}

.event__table {
    font-family: $font-secondary;
    font-size: 1.3rem;
    border-collapse: collapse;
    width: 100%;
}

.event__table-body {
    width: 100%;
}

.event__table-row {
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
        border: none;
    }
}

.event__table-cell {
    padding: 11px 0 14px;
    vertical-align: top;
    line-height: 1.4;
}

.event__table-cell--label {
    color: #888888;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    width: 45%;
}

.event__table-cell--value {
    color: #333333;
    text-align: left;
    font-weight: bold;
}

.crossed {
    text-decoration: line-through;
    color: #888888;
    font-weight: bold;
    padding-right: 8px;
}
.event__link {
    font-family: $font-secondary;
    font-size: 20px;
    color: $link-color;
    margin-top: 34px;
}

@media (max-width: $breakpoint-tablet) {
    .event__description {
        display: flex;
        flex-direction: column;
    }

    .event__details {
        display: flex;
        flex-direction: column;
    }

    .event__title {
        font-size: 28px;
        line-height: 37px;
        margin-top: 0;
        & br {
            display: none;
        }

        &--mobile {
            margin-top: 120px;
        }
    }

    .event__image {
        display: flex;
        justify-content: center;
        &--2 {
            img {
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
    .event__table {
        font-size: 20px;
    }
    .event__table-row {
        display: flex;
        flex-direction: column;
    }

    .event__link {
        font-size: 18px;
    }
}
