.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 13px 32px 15px;
    border-radius: 66px;
    font-weight: $font-weight-medium;
    text-decoration: none;
    transition: $transition-default;
    text-align: center;
    line-height: 20px;
}
