.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: $font-weight-medium;
    text-decoration: none;
    transition: $transition-default;

    &--primary {
        background-color: $primary-color;
        color: $white-color;

        &:hover {
            background-color: red;
        }
    }

    &--secondary {
        background-color: $white-color;
        color: $primary-color;
        border: 2px solid $primary-color;

        &:hover {
            background-color: $primary-color;
            color: $white-color;
        }
    }
}
