@font-face {
    font-style: normal;
    font-weight: $font-weight-regular;
    font-family: "Golos";

    font-display: swap;
    src: url("../fonts/golos-text_regular.woff2") format("woff2"),
        url("../fonts/golos-text_regular.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: $font-weight-medium;
    font-family: "Golos";

    font-display: swap;
    src: url("../fonts/golos-text_medium.woff2") format("woff2"),
        url("../fonts/golos-text_medium.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: $font-weight-semibold;
    font-family: "Golos";

    font-display: swap;
    src: url("../fonts/golos-text_demibold.woff2") format("woff2"),
        url("../fonts/golos-text_demibold.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: $font-weight-bold;
    font-family: "Golos";

    font-display: swap;
    src: url("../fonts/golos-text_bold.woff2") format("woff2"),
        url("../fonts/golos-text_bold.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: $font-weight-medium;
    font-family: "Montserrat";

    font-display: swap;
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: $font-weight-regular;
    font-family: "Merriweather";

    font-display: swap;
    src: url("../fonts/merriweather-regular.woff2") format("woff2"),
        url("../fonts/merriweather-regular.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: $font-weight-bold;
    font-family: "Merriweather";

    font-display: swap;
    src: url("../fonts/merriweather-bold.woff2") format("woff2"),
        url("../fonts/merriweather-bold.woff") format("woff");
}
