.ticker {
    background-color: $accent-color;
    color: $white-color;
    overflow: hidden;
    position: relative;
    z-index: $z-index-ticker;
    text-transform: uppercase;
    height: 60px;
    display: flex;
    align-items: center;
    &--upper {
        margin-bottom: 36px;
    }
    &__wrapper {
        white-space: nowrap;
        animation: ticker 20s linear infinite;
    }

    &__text {
        display: inline-block;

        font-size: 22px;
        line-height: 22px;
    }
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
